body
{
    background: #000;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-family: "Electrolize", sans-serif;
    font-size: 12px;
}
html,
body
{
    height: 100%;
}

strong
{
    font-weight: bold;
    color: rgb(96, 130, 34);
}
a
{
    color: rgb(96, 130, 34);
    text-decoration: underline;
}

header h1
{
    margin: 0;
    padding: 0;
    font-size: 48px;
    text-align: center;
}

#wrapper
{
    position: relative;
    text-align: center;
    height: 100%;
    min-height: 1100px;
}

#content
{
    position: relative;
}

header,
footer,
#content,
#universe,
#controls,
#log
{
    width: 1024px;
    margin: 0 auto;
}
header,
#controls
{
    padding-top: 10px;
    padding-bottom: 10px;
}
#universe
{
    position: relative;
    height: 512px;
    border: 1px solid #ccc;
    overflow: hidden;
    background: url(../images/noise.jpg) no-repeat;
}
#universe .content
{
    position: absolute;
    text-align: left;
    padding: 20px;
    top: 0;
    font-size: 14px;
}
#universe .content h2,
#universe .content h3
{
    color: rgb(96, 130, 34);
    margin: 1em 0;
}
#universe .content h3
{
    margin: 40px 0 1em 0;
}
#universe .content li
{
    margin: 10px 0;
}

#framebuffer
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 140px;
    height: 512px;
    border: 1px solid #ccc;
}
#framebuffer img
{
    width: 120px;
    margin: 10px;
}

#controls-options
{
    margin-top: 60px;
    text-align: left;
}
#controls-options .content
{
    border-top: 1px solid #ccc;
}
#controls-options table
{
    border-spacing: 0;
}
#controls-options td
{
    text-align: left;
    padding: 2px 10px 2px 0;
    margin: 0;
}

#log
{
    margin-top: 60px;
    text-align: left;
}
#log .content
{
    height: 100px;
    border-top: 1px solid #ccc;
    overflow: hidden;
}
#log .content p
{
    padding: 4px 0 0 0;
    margin: 0;
    color: rgb(86, 105, 64);
}


footer,
footer p
{
    width: 100%;
    position: absolute;
    bottom: 20px;
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
}
footer a
{
    color: #ddd;
}